.storyh2{
    letter-spacing:5px;

    /* margin-right: 5%; */
}

@media (min-width: 1200px){
.cardmargin{
    margin-right: 3%;
}
}

.storytext{
width: 90%;
margin-left: 3%;}


.missionicon{
    width: 3em;
    height:3em;
    margin-top: 2%;
    display: flex;
    align-self: center;
}
.missiontitle{
    font-size: 30px;
    margin-left: 2%
}
